body {
    max-width: 4000px;
}
#btn-back-to-top {
    position: fixed;
    -webkit-transform: translateZ(0);
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 50%;
    z-index: 10000;
    padding: 0;
}
#btn-back-to-top i {
    margin-top: 4px;
}
#btn-back-to-top:hover {
    opacity: 70%;
}

/* Adds padding to elements in main navigation bar*/
.row {
    margin-right: 0;
    margin-left: 0;
}

.banner-section {
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}
.navbar-nav > li {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

/* Menu buttons' style */
.button-menu {
    display: inline-flex;
    height: 45px;
    width: 180px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.button-menu a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    transition: all .45s ease-Out;
}

.circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #BFC0C0;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}

.button-menu:hover .circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}

.button-menu:hover a {
    color: #2D3142;
}

/* Close button for email popover */
.popover-header .btn-close{
    position: relative;
    margin-left: 50px;
}
.popover-header .fa-clipboard {
    margin-left: 5px;
}

/* Prevents bootstrap default blue color for <a> tags */
#social-media-links a{
    color: white;
}
 
#clipboardAlert1 {
    justify-content: center;
}
#clipboardAlert2 {
    position: absolute;
    width: 300px;
    margin-top: 10px;
}


/* About me */
#aboutme-text {
    margin-top: 20px;
    text-align: justify;
    max-width: 700px;
}

.experience-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.experience-header a {
    margin-left: 30px;
    width: 120px;
    height: fit-content;

}
#working-experience h4{
    font-size: xx-large;
}
/* Accordion */
#accordionExperience {
    width: 850px;
    color: black;
    text-align: justify;
}
.accordion-button:not(.collapsed) {
    background-color: #FFC107;
    font-weight: bold;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFC107;
}

/* Disabled checkbox style */
input[type=checkbox][disabled] {
    opacity: 1;
}
input[type=checkbox][disabled] + .form-check-label{
    opacity: 1;
}

/* Badges */
.badge-container{
    position: absolute;
    right: 60px;
}
.badge {
    font-size: .95em;
}
#android-badge{
    background-color: #6db11f;
}
#database-badge{
    background-color: #15AABF;
}
#graduation-badge {
    background-color: #0981D1;
}

/* Timeline */
.timeline-column {
    display: flex;
    flex-direction: column;
}
.timeline-right {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='70%20' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='1' height='70%20' fill='none' stroke='white' stroke-width='2' stroke-dasharray='11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.timeline-left {
    align-items: flex-end;
    margin-bottom: 30px;
}

.timeline-left h4 {
    margin-right: 40px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
    color: #f0ad4e;
}
.timeline-right{
    align-items: flex-start;
}
.timeline-right h4 {
    margin-left: 40px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: italic;
    color: #f0ad4e;
}
.timeline-element-container-right {
    position: relative;
    margin-top: 50px;
}
.timeline-element-container-left {
    position: relative;
}

.timeline-element-container-right::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: -17px;
    background-color: white;
    border: 2px solid #f0ad4e;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.timeline-element-container-left::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    right: -19px;
    background-color: white;
    border: 2px solid #f0ad4e;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-element-right {
    position: relative;
    display: flex;
    width: 520px;
    margin-left: 40px;
    margin-top: 10px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}
.timeline-element-right::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid white; 
}
.timeline-element-left {
    position: relative;
    display: flex;
    width: 520px;
    margin-right: 40px;
    margin-top: 10px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}
.timeline-element-left::after{
    content: "";
    position: absolute;
    top: 2px;
    right: -19px;
    width: 20px; 
    height: 20px; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
}

.timeline-element-img-container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    width: fit-content;
    margin: 0;
}
.timeline-element-text-container{
    padding-top: 10px;
    margin-right: 0;
    margin-left: 5px;
}
.date-left {
    position: absolute;
    bottom: 0;
    right: 40px;
}
.date-right {
    position: absolute;
    bottom: 0;
    right: auto;
    left: 40px;
}
.timeline-element-text-container p {
    position: relative;
    margin-bottom: 5px;
}

#uc3m {
    width: 100px;
    height: 100px;
}
#unigraz {
    width: 100px;
    height: 100px;
}
#ai-fundamentals {
    width: 100px;
    height: 100px;
}
#cpe {
    width: 100px;
    height: 100px;
}
#bhs {
    width: 100px;
    height: 100px;
}

/* PROJECTS */
#projects-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.card {
    margin-top: 20px;
}
.card-image-col {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.date-updated-container {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.card-image {
    display: block;
    margin: 0 auto;
}
.text-muted .card-updated{
    position: relative;
}
.card-text {
    text-align: justify;
}
.card-button-container {
    position: relative;
    bottom: 0;
    left: px;
    width: 100px;
}
.card-button {
    position: relative;
    max-width: fit-content;
}

@media only screen and (min-width: 850px){
    /* Fixes issue with responsive not justifying banner in center*/ 
    #banner-container {
        display: flex;
        flex-direction: row;
    }

    #portrait {
        display: flex;
        justify-content: start;
    }
    #banner-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .banner-text {
        justify-self: end;
    }
}

@media only screen and (min-width: 1200px){
    /* Timeline top margins */
    #erasmus-unigraz {
        margin-top: 20px;
    }
    #azure{
        margin-top: 75px;
    }
    #senior-year {
        margin-top: 60px;
    }
    #english-cpe {
        margin-top: 170px;
    }
}

@media only screen and (max-width: 1200px){
    .timeline-left {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='70%20' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='1' height='70%20' fill='none' stroke='white' stroke-width='2' stroke-dasharray='11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");;
        align-items: flex-start;
        width: fit-content;
    }
    .timeline-right{
        align-items: flex-start;
        width: fit-content;
    }
    .timeline-element-container-left::after{
        display: none;
    }
    .timeline-element-container-left::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: -17px;
        background-color: #f8f9fa;
        border: 2px solid #f0ad4e;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    .timeline-element-container-right {
        margin-top: 20px;
    }
    .timeline-element-left {
        position: relative;
        display: flex;
        width: 520px;
        margin-left: 20px;
        margin-right: 0;
        margin-top: 10px;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px);
        border-bottom-right-radius: calc(.25rem - 1px);
    }
    .timeline-element-left::after {
        display: none;
    }
    .timeline-element-left::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 3px;
        width: 20px;
        height: 20px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid #f8f9fa; 
    }
    .timeline-element-right {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 850px){
    #banner-container{
        display: flex;
        flex-direction: column;
    }
    #portrait{
        width: 95%;
        height: 95%;
    }
    #portrait-image {
        width: 100%;
        height: 100%;
    }
    #links-ul {
        row-gap: 15px;
    }
    .navbar-nav > li {
        padding-left: 0px;
        padding-right: 0px;
    }
    .button-menu {
        margin: 4px 4px 4px 4px;
    }
    .experience-header {
        flex-flow: column;
        align-items: center;
    }
    .experience-header a {
        margin: 10px 0px 20px 0px;
    }
    
}
@media only screen and (max-width: 600px){
    .badge {
        display: none;

    }
    #accordionExperience {
        max-width: 410px;
    }
    .accordion-body {
        text-align: left;
    }
    #tecnatom-image-container{
        display: flex;
        justify-content: center;
    }
    #education {
        padding-left: 0;
    }
    .timeline-element-left::before{
        margin-left: 0;
    }
    .timeline-element-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 8px;
        max-width: 370px;
    }
    .timeline-element-right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 8px;
        max-width: 370px;
    }
    .date-right {
        position: absolute;
        bottom: 0;
        left: auto;
        right: 40px;
    }
    .title-element-timeline a {
        display: none;
    }
    #uc3m {
        width: 250px;
        height: 250px;
    }
    #unigraz {
        width: 250px;
        height: 250px;
    }
    #ai-fundamentals {
        width: 250px;
        height: 250px;
    }
    #cpe {
        width: 250px;
        height: 250px;
    }
    #fontenebro {
        width: 100px;
        height: 120px;
    }
    #bhs {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 400px){
    #banner-container {
        padding: 0;
    }
    #portrait {
        display: flex;
        flex-direction: column;
    }
    #portrait-image {
        width: auto;
        height: auto;
    }
    #btn-back-to-top {
        position: sticky;
        position: -webkit-sticky;
    }
    #accordionExperience {
        max-width: 360px;
        padding-left: 2px;
    }
    .timeline-element-right::before {
        display: none;
    }
    .timeline-element-left::before {
        display: none;
    }
    .timeline-element-container-left::before {
        display: none;
    }
    .timeline-element-container-right::before {
        display: none;
    }
    .timeline-left {
        background-image: none;
        padding-left: 0;
    }
    .timeline-right {
        background-image: none;
        padding-left: 0;
    }
    .education-container {
        padding-left: 0px;
    }
    .timeline-element-left {
        margin-left: 4px;
        width: 110%;
    }
    .timeline-element-right {
        margin-left: 4px;
        width: 110%;
    }
}

/* Icon styling */
.fa-linkedin:hover {
    color: #FFC107
}
.fa-envelope:hover {
    color: #FFC107
}
.fa-github:hover {
    color: #FFC107;
}